<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Que manger aujourd'hui ?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select placeholder="Select One" (ionChange)="selectCategory($event)" (ionCancel)="clearSelection()">
      <ion-select-option *ngFor="let category of categoryList" value="{{ category }}">{{ category }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="'/meal/' + meal.idMeal" *ngFor="let meal of meals" size="6">
        <ion-img [src]="meal.strMealThumb" [alt]="meal.strMeal"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
